.section {
    padding:50px 0;
    margin-top:25px;
}
.section--sendstory {
    background: #f1f1f1;

}

.storyForm--wrap {
    display:flex;
    justify-content:center;
    align-content:center;
    width:100%;

    div {
        margin:0 10px;
    }

    form {
        align-self:center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        width:75%;

        input, textarea {
            padding:10px;
            border:3px solid rgba(0,0,0,.1);
            border-radius:0;
            margin-bottom:5px;
            font-size:16px;

            &:focus {
                outline:none;
            }
        }

        div input {
            width:100%;
            margin-bottom:10px;
        }

    }

}

.story--userInfo {
    display:flex;
    flex-direction:row;
    justify-content: space-between;

    input:first-child {
        margin-right:10px;
    }

}

.story--storyContent {
    width:100%;
    height:100px;
}

.story--submitWrap {
    display:flex;
    justify-content: center;
}

.story--submit {
    padding:15px 25px;
    background:#8389ce;
    color:#fff;
    text-align:right;
    font-size:16px;
    margin-top:10px;
    text-align:center;
    cursor:pointer;
}

.story--company {
    width:100%!important;
}

.form-hidden {
    display:none!important;
}

.giphy-wrap {
    width:100%;
    height:0;
    padding-bottom:56%;
    position:relative;
}

.giphy {
    position:absolute;
}


