.stage {
    height:100vh;
    max-height:1000px;
    background:linear-gradient(
        rgba(#e66465, 0.6),
        rgba(#9198e5, 0.6)
      ),
        url('/images/header/rob-bye-98949-unsplash.jpg');

    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    position:relative;
}

svg {
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
  }

header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:45px;
    display:flex;
    padding:0 20px;

    > * {
        align-self:center;
        color:#fff;
    }

}

.logo {
    font-size:65px;
    color:#fff;
    text-shadow:2px 2px 5px rgba(0,0,0,.4);
    margin-bottom:100px;
    transform:rotate(-2deg);
}

.intro {
    font-size:22px;
    width:70%;
    margin-bottom:100px;
    background:rgba(209, 209, 20, .9);
    color:#000;
    transform:rotate(-2deg);
    padding:10px;
    line-height:1.6em;
}

.signup {
    display:flex;
    flex-direction:row;
}

.email-wrap {
    background: linear-gradient(#e66465, #9198e5);
    margin-right:10px;
    padding:2px;
}

.signup-email {
    width:30vw;
    height:4vw;
    border:none;
    font-size:22px;
    background: #fff;
    padding:0 10px;
    font-weight:300;
}

.signup-btn {
    height:4vw;
    padding:2px 15px;
    background:#fff;
    border:none;
    font-size:18px;
    color:#000;
    cursor:pointer;
    align-self:center;
    font-weight:300;
}

.modal {
    width:45vw;
    height:200px;
    background: linear-gradient(#e66465, #9198e5);
    position:absolute;
    top:5vh;
    z-index:55;
    opacity:1;
}

.modal-wrap {
    margin:10px;
    background:#fff;
    height:180px;
    z-index:10;
}

.modal-hidden {
    display:none;
    opacity:0;
    transition:.5s ease opacity;
}

.modal-holder {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,.7);
}

.modal-holder-active {
    display:block;
}

.modal-close {
    position:absolute;
    top:-9px;
    right:-9px;
    background:none;
    border:none;
    cursor:pointer;
    font-size:20px;
    border-radius:50%;
    background:#fff;
    line-height:25px;
    height:25px;
    width:25px;
}
