@import '_reset';
@import '_var';

@import '_stage';
@import '_logo';
@import '_recent';
@import '_modal';
@import '_sendstory';
@import '_footer';
@import '_toolbar';

@import '_content';

html, body, #main {
    display:flex;
    flex-direction:column;
    align-items:stretch;

    @media screen and (max-width:480px) {
        height:auto;
    }

}