@import '_reset';
@import '_var';

@import '_stage';
@import '_logo';
@import '_recent';
@import '_modal';

html, body, #main {
    height:100%;
    min-height:100%;
    display:flex;
    flex-direction:column;
    align-items:stretch;

    @media screen and (max-width:480px) {
        height:auto;
    }

}